body {
    color: #fff;
    background-color: #4a525a;
    font-size: 18px;
    /*font-family: "Courier", "Times New Roman", Serif;*/
    font-family: "Roboto Light";
    line-height: 30px;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 45px;
    font-size: 45px;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p {
    text-align: justify;
}

#h_sources {
    text-decoration: underline;
}

.p_sources {
    font-style: italic;
    font-size: 12px;
    line-height: 22px;

}


.p_date{
    text-align: right;
}
.date {

    color: #fff;
    padding-right: 140px;


}

.article {
    padding-left: 140px;
    padding-right: 140px;
}


.source {
    padding-left: 140px;
    padding-right: 140px;
}

a:link {
    color: #fff;
}
a:visited {
    color: #fff;
}

.main{
    max-width: 2040px;

}

@media (min-width: 1440px){
    .main{
        width: 100%;
        margin: auto;
    }
}

@media (max-width: 700px) {
    body {
        font-size: 16px;
        line-height: 25px;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 24px;
    }

    .article {
        padding-left: 30px;
        padding-right: 30px;
    }

    .source {
        padding-left: 30px;
        padding-right: 30px;
    }
    .date{
        padding-right: 30px;
    }

}